*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #333;
}
.top{
    display: flex;
    width: 100%;
}
h3{
    text-align: left;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 10px;
}
img{
    position: absolute;
    right: 0;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 20em;
    border: 2px solid black;
    box-shadow: 4px 4px 10px 1px rgb(0, 0, 0, 0.7),
                -4px -4px 10px 1px rgb(255, 255, 255,0.5);
    transition: all 1s;
    }
img:hover{
    width: 55px;
    height: 55px;
    box-shadow: 6px 6px 10px 1px rgb(0, 0, 0, 0.7),
                -6px -6px 10px 1px rgb(255, 255, 255,0.5);
}
.up{
    position: relative;
    background: linear-gradient(45deg,rgb(174, 11, 199),rgb(100, 13, 200));
    width: 300px;
    height: 250px;
    justify-content: center;
    border-radius: 10px;
    top: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    box-shadow: inset 3px 3px 10px 1px rgba(255, 255, 255, 0.2),
                inset -3px -3px 10px 1px rgba(0, 0, 0, 0.701),
                -6px -6px 10px 1px rgba(255, 255, 255, 0.1),
                6px 6px 10px 1px rgba(0, 0, 0, 0.4);
  

}
.up h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0;
}
.up #file{
    padding: 10px;
    margin: 10px 0 0 10px;
}
.up button{
    background: aqua;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.up button:hover{
    transform: scale(1.1);
    background: linear-gradient(45deg,rgb(255,255,255,0.5),aqua);
}
.urls{
    position: relative;
    top: 13em;
    background: transparent;
    width:350px ;
    height: 400px;
    scrollbar-width: none;
}
.url{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background: transparent;
    margin: 30px 0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 3px 3px 10px 1px rgba(255, 255, 255, 0.2),
                inset -3px -3px 10px 1px rgba(0, 0, 0, 0.701),
                -6px -6px 10px 1px rgba(255, 255, 255, 0.1),
                6px 6px 10px 1px rgba(0, 0, 0, 0.701);
           
}
.url h4{
    position: relative;
    padding: 10px;
    max-height: 50px;
    max-width: 150px;
    overflow:auto;
    scrollbar-width: none;
    margin: 10px;
    background: linear-gradient(45deg,rgb(174, 11, 199),rgb(100, 13, 200));
    color: transparent;
    background-clip: text;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.url button{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    color: black;
    background: white;
    transition: all .5s;
}
.url button:hover{
    transform: scale(1.1);
    background: linear-gradient(45deg,rgba(255, 255, 255, 0.2),rgb(6, 255, 6));
}
