*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #333;
}
.top{
    display: flex;
    width: 100%;
}
h3{
    text-align: left;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
}
#delete{
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    background: none;
    border: none;
}
#delete img{
    width: 35px;
    height: 35px;
    transition: all 0.5s;
    border-radius: 2rem;
    border: 1px soild red;
    transform: scale(1);
    filter: grayscale(1) ;
}
#delete:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 1px red;
    filter: grayscale(0) ;
}

#log{
    position: absolute;
    right: 0;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 20em;
    border: 2px solid black;
    box-shadow: 4px 4px 10px 1px rgb(0, 0, 0, 0.7),
                -4px -4px 10px 1px rgb(255, 255, 255,0.5);
    transition: all 1s;
    }
#log:hover{
    width: 55px;
    height: 55px;
    box-shadow: 6px 6px 10px 1px rgb(0, 0, 0, 0.7),
                -6px -6px 10px 1px rgb(255, 255, 255,0.5);
}
.up{
    position: relative;
    background: linear-gradient(45deg,rgb(174, 11, 199),rgb(100, 13, 200));

    height: 300px;
    width: 400px;
    justify-content: center;
    border-radius: 10px;
    top: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    box-shadow: inset 3px 3px 10px 1px rgba(255, 255, 255, 0.2),
                inset -3px -3px 10px 1px rgba(0, 0, 0, 0.701),
                -6px -6px 10px 1px rgba(255, 255, 255, 0.1),
                6px 6px 10px 1px rgba(0, 0, 0, 0.4);
  

}
.up h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 3px;
    font-size: 1.5em;
}
.up #file{
   display: none;
}
.up button{
    background: aqua;
    border: none;
    padding: 16px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top:10px ;
}
.up button:hover{
    transform: scale(1.1);
    background: linear-gradient(45deg,rgb(255,255,255,0.5),aqua);
}

.urls{
    position: relative;
    display: flex;
    top: 13em;
    background: transparent;
    justify-content: space-evenly;
    width: 100%;
    scrollbar-width: none;
    flex-wrap: wrap;
    padding-bottom: 5em;
}
.url{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background: linear-gradient(45deg,rgb(0, 0, 131),rgb(0, 0, 0));
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 3px 3px 10px 1px rgba(255, 255, 255, 0.2),
                inset -3px -3px 10px 1px rgba(0, 0, 0, 0.701),
                -6px -6px 10px 1px rgba(255, 255, 255, 0.1),
                6px 6px 10px 1px rgba(0, 0, 0, 0.701);
    backdrop-filter: blur(5px);      
}
.url h4{
    position: relative;
    padding: 10px;
    overflow: hidden;
    max-width: 150px;
    margin: 10px;
    background: linear-gradient(45deg,rgb(174, 11, 199),rgb(100, 13, 200));
    color: transparent;
    background-clip: text;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.url h4 .truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.url #down{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 17px;
    color: white;
    background: black;
    transition: all .5s;
    margin: 15px;
}
.url #down:hover{
    transform: scale(1.1);
    color: rgba(55, 247, 2);
    border: 1px solid rgba(55, 247, 2);
}

.blob{
    position: fixed;
    height: 50%;
    width: 100%;
    background: linear-gradient(45deg,rgb(255, 101, 5,0.9),rgb(255, 0, 221,0.8));
    z-index: -100;
    bottom: 0;
    animation: infinite linear 5s ani;
}
@keyframes ani{
    0%{
        border-top-left-radius: 20rem;
        border-top-right-radius: 20em;
    }
    20%{
        border-top-left-radius: 17em;
        border-top-right-radius: 19em;
    }
    25%{
        border-top-left-radius: 20rem;
        border-top-right-radius: 16em;
    }
    50%{
        border-top-left-radius:20rem;
        border-top-right-radius: 17em;
    }
    60%{
        border-top-left-radius: 18rem;
        border-top-right-radius: 20em;
    }
    75%{
        border-top-left-radius: 15rem;
        border-top-right-radius: 17em;
    }
    80%{
        border-top-left-radius: 10rem;
        border-top-right-radius: 15em;
    }
    90%{
        border-top-left-radius: 15rem;
        border-top-right-radius: 19em;
    }
    100%{
        border-top-left-radius: 20rem;
        border-top-right-radius: 20em;
    }
}

.loading{
    position: relative;
    height: 100px;
    width: 250px;
    margin-top: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.loading::after{
    position: absolute;
    content: '';
    width: 110%;
    height: 110%;
    background: linear-gradient(45deg,blue,rgb(255, 0, 221));
    z-index: -2;
    animation: rot 5s linear infinite;
    
}
.loading::before{
    position: absolute;
    content: '';
    width: 98.8%;
    height: 98%;
    background: #333;
    z-index: -1;
    border-radius: 10px;
}

@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}
.loading svg circle{
    stroke-opacity: 100%;
    stroke-dasharray:0 ;
    stroke-dashoffset:250;
    animation: draw .5s linear infinite;
}

@keyframes draw {
  0%{
    filter: drop-shadow(0 0 1px rgba(255, 0, 238, 0.8));
    stroke-opacity: 100%;
  }
  50%{
    filter: drop-shadow(0 0 1px rgba(255, 0, 238, 0.5));
    stroke-opacity: 60%;
  }
  100%{
    filter: drop-shadow(0 0 1px rgba(255, 0, 238, 0.8));
    stroke-opacity: 100%;
  }
}

.loading svg path{
    filter: drop-shadow(0 0 1px rgba(255, 0, 238, 0.7));
    stroke-opacity: 100%;
    stroke-dashoffset:250;
    stroke-dasharray:250;
    animation: fu 3s linear infinite;
}

@keyframes fu{
      0%{
        stroke-opacity: 100%;
        stroke-dashoffset:250;
      }
      50%{
        stroke-opacity: 40%;
        stroke-dashoffset:0;
      }
      100%{
        stroke-opacity: 100%;
        stroke-dashoffset:250;
      }
}
