<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Next Dimension</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style_index.css') }}" >
</head>
<body>
    <div class="top">
    <h3 >Welcome {{ user }}!</h3>
    <img src="{{ url_for('static',filename='images/pic1.jpg')}}">
    </div>
    <center>
    <h2 style="color:green;" >{{ status }}</h2>
    <div class="up">
        <h2>Upload a File</h2>
        <form method="POST" enctype="multipart/form-data" action="/upload">
            <input type="file" name="file" id="file"><br>
            <button type="submit">Upload</button>
        </form>
    </div>

    <div class="urls">
        {% if data %}
            {% for url in data %}
                <div class="url">
                    <h4>File Name:<br> {{ url }}</h4>
                    <form action="/download" method="POST">   
                        <input type="hidden" name="file_name" id="file_name" value={{ url }}>               
                        <button >Download</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p style="color:white;">No links found.</p>
        {% endif %}
    </div>
    


    </center>
</body>
</html>
