<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Dimension</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='key.css') }}" >
</head>
<body>
    <center>
        <div class="top">
          <img src="{{ url_for('static',filename='images/pic1.jpg')}}">
          <span class="span1" ></span>
        </div>
        <div class="key">
        <h3>Enter Unique Key</h3>
        <form action="./check_shit" method="post">
            <input type="text" name="key" id="key" placeholder="Enter Unique Key" required><br>
            <button type="submit" id="but" name="but">Submit</button>
        </form>
    </div>
    </center>
    <script>
        const text = document.querySelector(".span1");

        const load = () => {
             setTimeout(() =>{
              text.textContent = "Dark Say!";
            },0);
            setTimeout(() =>{
                text.textContent = "Don't Forget key!";
              },5000);
          
        }

        setInterval(load, 5000);
    </script>
</body>
</html>
