<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark 😈</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='key.css') }}" >
</head>
<body>
    <center>
        <div class="top">
          <img src="{{ url_for('static',filename='images/pic1.jpg')}}">
          <span class="span1" ></span>
        </div>
        <div class="key">
        <h3>Enter Unique Key</h3>
        <form action="./check_shit" method="post">
            <div class="in-key">
              <input type="text" name="key" id="key" placeholder="Enter Unique Key" minlength="4" required><br>
            </div>
            <button type="submit" id="but" >Submit</button>
        </form>
    </div>
    </center>
    <script src="{{ url_for('static',filename='script.js')}}">

    </script>
</body>
</html>
