<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF Viewer</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='style_view.css') }}" >

</head>
<body>
  <!-- Print Button -->
  <button id="print-btn" onclick="printPDF()">Print PDF</button>

  <!-- PDF Viewer in iframe -->
  <iframe id="pdf-container" src="{{ url_for('display_pdf', pdf_path=pdf_path) }}" width="100%" height="100%" frameborder="0"></iframe>

  <script>
    function printPDF() {
      var iframe = document.getElementById('pdf-container');
      iframe.focus(); // Focus the iframe
      iframe.contentWindow.print(); // Trigger the print of the iframe content
    }
  </script>
</body>
</html>
